body {
  display: inline;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-color: purple;
  color: red;
  
}



#aboutme {
  text-align: center;
  position: relative;
  
}

#menu {
  text-align: center;

}

#menu li {
  display: inline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}



